* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: url(./483508.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: normal;
}

form {
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px;
  max-width: 600px;
  margin: auto;
  width: 50%;
  min-width: 400px;
}

.input-group {
  flex-direction: column;
  margin-bottom: 14px;
}

.input-group label {
  float: left;
  color: white;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
}

.input-group input {
  float: right;
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: white;
}

.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.register-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background-color: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  font-size: 1.5em;
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}
.register-button:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}
.register-button:focus {
  background-color: hsla(201, 100%, 100%, 0.5);
}
